footer {color: #D7BDE2;}
body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	font-weight: 400;
	overflow: scroll;
	overflow-x: hidden;
}
fieldset {
	margin: 5% 20%;
	background-color: rgba(253, 254, 254, 0.4);
	border-radius: 10px;
	border-style: double;
	border-color: #7D3C98;
	border-width: 5px;
	font-weight: bold;
	text-shadow: 2px 3px white;
}
form {margin: 2%;}
input, textarea, select  {
	background-color: #D7BDE2;
	color: white; 
	border-color: transparent;
	border-radius: 10px;
	padding: 5px;
}
.button {
	background-color: black;
	color: white;
}